<h2>Globalize 0.1.1 &amp; CLDR modern: {{bothModernLocaleNames.length}}</h2>
<div class="locales">
  <div class="locale" *ngFor="let localeName of bothModernLocaleNames">
    {{localeName}}
  </div>
</div>

<h2>Globalize 0.1.1 &amp; CLDR full: {{bothFullLocaleNames.length}}</h2>
<div class="locales">
  <div class="locale" *ngFor="let localeName of bothFullLocaleNames">
    {{localeName}}
  </div>
</div>

<h2>Only Globalize 0.1.1: {{onlyVersion0LocaleNames.length}}</h2>
<div class="locales">
  <div class="locale warning" *ngFor="let locale of onlyVersion0LocaleNames">
      <div class="good" *ngIf="locale.likelyName; else elseBlock">{{locale.name}} &#x2192; {{locale.likelyName}}</div>
      <ng-template #elseBlock><span>{{locale.name}}</span></ng-template>
  </div>
</div>

<h2>Only CLDR modern: {{onlyModernLocaleNames.length}}</h2>
<div class="locales">
  <div class="locale" *ngFor="let localeName of onlyModernLocaleNames">
    {{localeName}}
  </div>
</div>

<h2>Only CLDR full: {{onlyFullLocaleNames.length}}</h2>
<div class="locales">
  <div class="locale" *ngFor="let localeName of onlyFullLocaleNames">
    {{localeName}}
  </div>
</div>
