.locales  {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.locale {
  background-color: lightgreen;
  min-width: 80pt;
  display: block;
  text-align: center;
  margin: 2pt;
}

.warning {
  background-color: palegoldenrod;
  background-color: lightcoral;
  min-width: 164pt;
}

.warning .good {
  background-color: palegreen;
}
