/* You can add global styles to this file, and also import other style files */

html, body, table {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

table {
}

table, th, td {
  border: 1px solid lightgray;
}

table {
  border-collapse: collapse;
}

td {
  padding: 5px;
  text-align: center;
}
